<!-- State Based Animations 
 ====================================================================== -->
<div [@btjSlideState]="visible()"></div>
<!-- <div [@btjSlideState]="{ value: visible(), params: { startX: '0', startY: '-200%', duration: '3s' } }"></div> -->
<button (click)="visible.set(!visible())">{{ visible() ? 'Hide' : 'Show' }}</button>

<!-- Enter/Leave Animations 
 ====================================================================== -->
<!-- @if (visible()) { -->
    
    <!-- <div @btjSlideEnterLeave></div> -->

    <!-- <div [@btjSlideEnterLeave]="{
        value: visible(),
        params: {
            startScale: 0,
            startOpacity: 0,
            startX: '200%',
            startY: '-300%'
        }
    }"></div> -->

<!-- } -->
<!-- <button (click)="visible.set(!visible())">{{ visible() ? 'Hide' : 'Show' }}</button> -->
