:host {
    align-content: center;
    display: grid;
    height: 100vh;
    place-items: center;
    width: 100vw;
  }
  
  div {
    aspect-ratio: 1 / 1;
    background-color: #6244b0;
    width: 33.334%;
  }
  
  button {
    all: unset;
    background-color: black;
    color: white;
    margin-block-start: 2em;
    padding: 1em 2em;
    transition: background-color 250ms;
    text-align: center;
  
    &:hover {
      background-color: #ff495d;
    }
  
  }
  