::ng-deep {

    :has(> .ng-trigger-btjFlipHorizontal),
    :has(> .ng-trigger-btjFlipVertical) {
        perspective: var(--btjPerspective, 1000px);
    }

    .ng-trigger-btjFlipHorizontal,
    .ng-trigger-btjFlipVertical {
        display: grid;
        transform-style: preserve-3d;

        & > * {
            backface-visibility: hidden;
            display: grid;
            grid-row: 1;
            grid-column: 1;
        }

        &:first-child {
            z-index: 1;
        }

    }

    .ng-trigger-btjFlipHorizontal > :last-child {
        transform: rotateY(180deg);
    }

    .ng-trigger-btjFlipVertical > :last-child {
        transform: rotateX(-180deg);
    }

}
